<div class="book-wrap">
<table> 
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @books.each do |book| %>
  <div class="book-box">
    
    <tr>
      <td><span class="book-title"><%=link_to book.title, book_path(book.id) %></span></td>
      <td><span class="book-body"><%= book.body %></span></td>
      <td><%= link_to "編集", edit_book_path(book.id) %></td>
    </tr>
    
  </div>
    <% end %>
  </tbody>

</table>
</div>

<h2>New book</h2>

<%= form_with model: @book, method: :post do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>
	
	<h4></h4>
  <%= f.submit 'Create Book' %>
<% end %>
